.description {
    display: table;
    width: 400px;
}

.table-hover tr {
    transition: all 0.3s;
    cursor: pointer;
}

.table-hover tr:hover {
    background-color: aliceblue;
}

.container {
    margin-left: 0px;
}